* {
  box-sizing: border-box;
}

body {
  font-family: 'Baskerville', Arial, Helvetica, sans-serif;
  color: #555;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
}

img {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}
